<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
    <%- include('partials/head')  %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora incidunt sint, aperiam reprehenderit quam est iure blanditiis neque saepe velit alias deleniti minima exercitationem omnis nobis? Nobis blanditiis illum consequuntur, provident obcaecati culpa, voluptas voluptates hic ratione delectus reiciendis natus. Reiciendis quos delectus sed facilis, iure repellat ratione accusamus impedit aliquid neque quasi natus et suscipit laudantium ipsam velit earum tempore! Reprehenderit vel suscipit, nulla et minima hic rerum ipsum nam nobis tempore. Debitis illo perspiciatis cumque hic rerum molestias iure, vero dolor adipisci est a optio magnam officiis beatae dolorem quae exercitationem aspernatur pariatur possimus et ad? Totam, ipsum sed! Ullam vero vitae, sit expedita ratione voluptates beatae impedit amet dignissimos. Eveniet impedit eligendi maiores sint debitis quod reprehenderit praesentium eius enim eos corporis placeat inventore rerum odit, neque, officiis quis quasi libero? Enim minima obcaecati nesciunt accusantium necessitatibus, quae quod quis autem, exercitationem deserunt facilis vel incidunt nulla veniam architecto iusto in voluptatum ducimus mollitia quaerat dignissimos cumque suscipit cupiditate nam. Eligendi magnam, mollitia nam possimus nulla inventore maiores eveniet provident consequuntur esse perferendis quia exercitationem ipsam enim amet laudantium pariatur illum accusamus fugit, atque recusandae ratione. Odio ipsa veniam, eveniet incidunt, ipsam esse iure architecto magni quam officia quod nobis odit, tempora consectetur aut explicabo ex ipsum hic dolorem provident dolore! Id eligendi aliquid quia, labore, repellendus assumenda nobis fugiat tempora adipisci reprehenderit eius autem porro recusandae fugit, earum non necessitatibus nihil error. Corporis, eos. Quaerat, perspiciatis delectus laboriosam voluptatem officiis temporibus cupiditate, autem neque corrupti nemo illum veritatis omnis illo ad commodi doloremque? Neque incidunt voluptas mollitia rerum laboriosam omnis possimus accusamus eaque, animi fuga libero consectetur obcaecati vero enim ab repellat et tempore at sequi beatae dicta nulla id architecto. Architecto, consectetur? Quasi ipsa recusandae repellendus quos commodi delectus eveniet, rem laborum nesciunt, quas at!</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>